html {
    font: 16px/16px Microsoft YaHei, Arial, \\5B8B\4F53, Arial Narrow;
    font-size: 312.5%;
    /*chrome支持的最小字体是12px;*/
    /* 1rem=50px;1px=0.02rem;*/
}

html,
body {
    height: 100%;
}

body {
    /* 页面默认字体大小设置 ：font-size:12px */
    font-size: 0.24rem;
}


/* 响应式调制 */
/* 注：网页是按照1366 x 768 的比例做的*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    html {
        font-size: 150.5%;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    html {
        font-size: 150.5%;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    html {
        font-size: 215.5%;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) and (min-height: 768px) {
    html {
        font-size: 370.5%;
    }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    html {
        font-size: 312.5%;
    }
}

@media only screen and (min-width: 2560px) and (min-height: 1600px) {
    html {
        font-size: 770.5%;
    }
}


/*************************css base********************/


/*清除浮动*/

.clearfix {
    *zoom: 1;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}


/*************************page-base********************/


/*导航*/

.nav {
    position: absolute;
    left: 2%;
    top: 50%;
    z-index: 999;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .nav {
        left: 96%;
    }
}

.nav .nav-item {
    display: block;
    height: 0.16rem;
    width: 0.16rem;
    border: 1px solid #e8e5df;
    border-radius: 50%;
    background-color: #e8e5df;
    margin-bottom: 100%;
}

.nav .nav-item.active {
    background-color: transparent;
}

.container {
    height: 100%;
}

.pt-page-main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pt-page {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 1.3rem;
    /*will-change:transform;/*触发硬件加速*/
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background: #fffcf5;
    transition: transform 1s;
}

.pt-page.active {
    visibility: visible;
}


/*页面切换效果动画 ie10+*/

.pt-page-moveToTop {
    animation-fill-mode: both;
    -webkit-animation: moveToTop 1.5s ease both;
    -moz-animation: moveToTop 1.5s ease both;
    animation: moveToTop 1.5s ease both;
}

.pt-page-moveFromTop {
    -webkit-animation: moveFromTop 1s ease both;
    -moz-animation: moveFromTop 1s ease both;
    animation: moveFromTop 1s ease both;
}

.pt-page-moveToBottom {
    animation-fill-mode: both;
    -webkit-animation: moveToBottom 1s ease both;
    -moz-animation: moveToBottom 1s ease both;
    animation: moveToBottom 1s ease both;
}

.pt-page-moveFromBottom {
    animation-fill-mode: both;
    -webkit-animation: moveFromBottom 1s ease both;
    -moz-animation: moveFromBottom 1s ease both;
    animation: moveFromBottom 1s ease both;
}

@keyframes moveToTop {
    100% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes moveFromTop {
    0% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes moveToBottom {
    100% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes moveFromBottom {
    0% {
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
}


/*************************end of page-base********************/


/*************************start of page-single********************/


/*content*/

.page-content {
    position: relative;
    height: 100%;
    margin: 0 auto;
    text-align: right;
    width: 50%;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .page-content {
        width: 70%;
    }
}

.page-content .section {
    box-sizing: border-box;
    height: 100%;
    float: left;
    padding-right: 10%;
    padding-top: 20%;
    white-space: nowrap;
}

.page-content .section-text {
    color: #8F6E30;
    font-size: 0.32rem;
    padding-top: 20%;
    width: 50%;
    right: 57%;
    position: absolute;
}

@media only screen and (min-width: 2560px) and (min-height: 1600px) {
    .page-content .section-text {
        right: 64%;
        width: auto;
    }
}

.section-text .p-title {
    font-size: 0.6rem;
    transform: translate3d(-100%, 0, 0);
    opacity: 0;
}

.section-text .p-text {
    font-size: 0.28rem;
    opacity: 0;
}

.section-text.text-l {
    text-align: left;
}


/*phone*/

.section-img .phone-pink {
    width: 5rem;
    height: 10rem;
    background: url(../img/yellow-phone.png) center center no-repeat;
    background-size: cover;
    position: absolute;
    right: 21%;
    bottom: 20%;
}

.phone-pink .phone-viewpoint {
    position: absolute;
    width: 4.14rem;
    height: 7.6rem;
    background: url(../img/page1-0.jpg) center center no-repeat;
    background-size: cover;
    left: 0.42rem;
    bottom: 1.2rem;
}

.pt-page-3 .phone-pink .phone-viewpoint {
    background: url(../img/page2-0.jpg) center center no-repeat;
    background-size: cover;
}

.pt-page-4 .phone-pink .phone-viewpoint {
    background: url(../img/page4-0.jpg) center center no-repeat;
    background-size: cover;
}


/*page-1*/

.pt-page-1 .section-text {
    color: #fff;
    padding-right: 0;
    padding-top: 10%;
}

.pt-page.pt-page-1 {
    padding-top: 0;
}

.pt-page-1 .page-body {
    height: 95%;
    width: 100%;
    background: url(../img/page0-bg.jpg) center center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding-top: 1.3rem;
}


/*页面1的导航*/

.pt-page-main .page-header {
    position: fixed;
    width: 90%;
    height: 1.3rem;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 0.4rem;
    box-sizing: border-box;
    z-index: 999;
}

.page-header .logo {
    width: 0.9rem;
    height: 0.9rem;
    background: url(../img/logo.png) center center no-repeat;
    background-size: cover;
    /*IE9+*/
    float: left;
}

.page-header .btns {
    font-size: 0;
    float: right;
}

.page-header .btns > .btn {
    display: inline-block;
    height: 0.6em;
    padding: 0.6em;
    border: 1px solid #fff;
    border-radius: 1em;
    font-size: 0.28rem;
    text-align: center;
    line-height: 0.6em;
    text-decoration: none;
    color: #fff;
    background-color: #e8e5df;
}

.page-header .btns .btn-sample {
    margin-right: 0.3rem;
    background-color: #FE2454;
}

.page-header .btns .btn-app {
    display: none;
    background-color: #FE2454;
}


/*二维码*/

.pt-page-1 .page-content .qr-img {
    position: relative;
    height: 3.2rem;
    width: 3.2rem;
    margin-top: 1em;
    background: url(../img/page0-qr.png) center center no-repeat;
    background-size: cover;
    font-size: 1rem;
}

.qr-img .qr-mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0.2rem;
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: #000;
    opacity: 0;
    text-align: center;
    transition: all .6s;
}

.qr-img .qr-mask:hover {
    opacity: 0.9;
}

.qr-mask .app{
    display: block;
    position: absolute;
    height: 40%;
    width: 40%;
    left: 50%;
    margin-left: -20%;
    transform: scale(.7);
    transition: all .6s;
}
.app img{
    width: 100%;
    height: 100%;
}
.qr-mask .app-IOS{
  top: 50%;
}

.qr-mask .app:hover {
    transform: scale(1);
}

.qr-img .qr-title {
    position: absolute;
    bottom: -0.4rem;
    left: 0.5rem;
    font-size: 0.28em;
}


/*carousel*/

.pt-page-1 .page-content .phone-img {
    height: 11.4rem;
    background: url(../img/page0-phone.png) center center no-repeat;
    background-size: cover;
    width: 6rem;
    left: 60%;
    position: absolute;
    bottom: -0.56rem;
}

@keyframes toLeft {
    to {
        left: 50%;
    }
}

.toLeft {
    animation-duration: 3s;
    animation-name: toLeft;
}


/*phone轮播*/

.carousel-warpper {
    height: 76%;
    overflow: hidden;
    bottom: 14%;
    width: 79.8%;
    position: absolute;
    right: 10%;
}

.carousel-ground {
    position: absolute;
    left: -100%;
    height: 100%;
    width: 400%;
}

.carousel-ground .img {
    float: left;
    box-sizing: border-box;
    height: 100%;
    width: 25%;
}

.carousel-ground .img.img-1 {
    background: url(../img/page0-0.jpg) center center no-repeat;
    background-size: cover;
}

.carousel-ground .img.img-2 {
    background: url(../img/page0-1.jpg) center center no-repeat;
    background-size: cover;
}

.carousel-ground .img.img-3 {
    background: url(../img/page0-2.jpg) center center no-repeat;
    background-size: cover;
}


/*phone轮播动画*/

.carousel {
    -webkit-animation: carousel 10s cubic-bezier(.02, .97, .02, .97) 2s infinite alternate;
    -o-animation: carousel 10s cubic-bezier(.02, .97, .02, .97) 2s infinite alternate;
    animation: carousel 10s cubic-bezier(.02, .97, .02, .97) 2s infinite alternate;
}

@keyframes carousel {
    0% {
        left: -100%;
    }
    25%,
    50% {
        left: -100%;
    }
    50%,
    75% {
        left: -200%;
    }
    76%,
    100% {
        left: -300%;
    }
}


/*page-2*/

.section-img .dash-line {
    position: absolute;
    height: 10rem;
    width: 2rem;
    background: url(../img/page1-dash.png) center center no-repeat;
    background-size: cover;
    top: 0;
    right: -1.4rem;
    list-style: none;
}

.dash-line .dash-icon {
    position: absolute;
    display: block;
    width: 1.5rem;
    height: 0.4rem;
    cursor: pointer;
}

.dash-line .dash-icon.hide {
    opacity: 0;
}

.dash-line .dash-icon.hide:hover {
    opacity: 1;
}

.dash-line .dash-icon.icon-0 {
    top: 1rem;
    right: -0.8rem;
}

.dash-line .dash-icon.icon-1 {
    top: 2rem;
    right: -0.8rem;
}

.dash-line .dash-icon.icon-2 {
    top: 3rem;
    right: -0.7rem;
}

.dash-line .dash-icon.icon-3 {
    top: 4rem;
    right: -0.84rem;
}

.dash-line .dash-icon.icon-4 {
    top: 5rem;
    right: -1.1rem;
}

.dash-line .dash-icon.icon-5 {
    height: 0.6rem;
    top: 6rem;
    right: -1.3rem;
}

.dash-line .dash-icon.icon-6 {
    height: 0.6rem;
    top: 7rem;
    right: -1.4rem;
}

.dash-line .dash-icon.icon-7 {
    top: 8.2rem;
    right: -1.1rem;
}


/*文字动画*/

.animated {
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -30%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 0.75s
}

@keyframes fadeShake {
    from {
        transform: translate3d(-100%, 0, 0);
    }
    10% {
        opacity: 0.5;
    }
    50% {
        transform: translate3d(10%, 0, 0);
    }
    60% {
        transform: translate3d(-10%, 0, 0);
    }
    70% {
        transform: translate3d(5%, 0, 0);
    }
    80% {
        transform: translate3d(-5%, 0, 0);
    }
    90% {
        transform: translate3d(3%, 0, 0);
    }
    to {
        opacity: 0.5;
        transform: none;
    }
}

.shake {
    animation-name: fadeShake;
    animation-duration: 3s;
}


/* footer */

.pt-page-4 .page-content {
    transition: transform 1s;
}

.footer {
    position: relative;
    padding-top: 36px;
    /* transform: translateY(-168px); */
    height: 168px;
    background: url('../img/bottom-bg.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    transition: transform 1s;
}

.footer-logo {
    position: absolute;
    top: 36px;
    left: 88px;
    height: 45px;
}

.footer-qr {
    position: absolute;
    height: 110px;
    top: 0;
    right: 88px;
}

.footer-link .link-item {
    display: inline-block;
    width: 100px;
}

.footer-link .link-item>a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.footer-link .about-us {
    border-right: 1px solid #fff;
}

.copy-right {
    padding-top: 15px;
    font-size: 12px;
}
