 ul {
     margin: 0;
     padding: 0;
     font-size: 0;
 }
 ul li {
     box-sizing: border-box;
     display: inline-block;
     width: 10%;
     padding: 10px;
     margin: 0;
     list-style: none;
     border: 1px solid #fff;
     background-color: #333;
 }
 ul li img {
     width: 100%;
 }
 /* 任务3: 在浏览器宽度小于768px时，每行显示5个logo */
 @media only screen and (max-width: 768px){
     ul li {
        width:20%;
     }
     body{
        background-color: pink;
     }
 }
 /* 任务4: 在浏览器宽度小于480px时，每行显示2个logo */
@media only screen and (max-width: 480px){
     ul li {
        width:50%;
     }
      body{
        background-color: purple;
     }
 }
